/* here is my first comment */
:root{
    --main-color: #FFC0CB; /* Define the CSS variable with a value, using hex code */
}
body {
    background-color: var(--main-color, pink);  /* var is hex code, using CSS var with fallback val of pink */
  }
  
  h1 {
    color: rgb(229, 8, 8); /* rgb */
    text-align: center;
    text-decoration: underline;
    margin-top: 1in;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 2cm;
  }

  h2 {
    color: color(rgb 0 255 255 / 0.5); /* predefined color space, values for color space*/
    }

  h3 {
    color: color-mix(blend, rgb(128 0 128), rgb(255, 0, 47)); /*method to mix colors, values & percentages of color*/
    }
  
  button {
    background-color: blue; /* color name */
    color: hsl(0,100%,100%); /* hue */
    }

.wrapper {
        font-size: 1.5em;
    }
      
.vw {
        width: 10vw;
        background-color: purple;
    }
      
.em {
        width: 10em;
        background-color: yellow;
    }
    .rem{
        width: 10em;
        background-color: rgb(226, 11, 172);   
    }

/* Border */
/* Longhand */
.long-border {
    border-top: 3px solid #000;
    border-right: 2px solid #000;
    border-bottom: 1px solid #000;
    border-left: 2px solid #000;
  }
  
  /* Shorthand */
  .short-border {
    border: 1px solid #000;
    border-width: 1px 2px; 
  }

/* Margin */
/* Longhand */
.long-margin {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
   
  }
  
  /* Shorthand */
  .short-margin {
    margin: 10px 20px 15px 20px;
  }
  
  /* Auto Margins */
  .auto-margin {
    margin: auto;
  }

  /* Padding */
/* Longhand */
.long-padding {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  
  /* Shorthand */
  .short-padding {
    padding: 15px 20px 10px;
  }

  .unfinishedbusiness {
    height: 10px;
    width: 3px;
    max-width: 10px;
    min-width: 100px;
}